body {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.8;
}

hr {
  border-top: solid 8px;
  border-style: dotted;
  width: 7%;
  margin-bottom: 7%;
}

/* Responsiveness */
/************************************************** Title page */
#Title {
  background-color: #FEE36E;
  padding: 2% 15% 7%;
}

/* navigation bar */
.navbar {
  padding-left: 0;
}

.nav-item {
  font-family: 'Quicksand', sans-serif;
  padding: 0 18px;
  font-size: 1.2rem;
}

.navbar-brand {
  text-align:left;
  width:20%;
}

/* images */
.logoBNB {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 4%;

}


/* text */
.balk {
  color: #06124B;

}
.navbar-light, .navbar-toggler{
  color: #06124B;
}
.logo-navbar{
  display: inline-block;
  text-align: left;
  width:60%;

}

/* media query */
@media (max-width:992px) {
  .logoBNB {
    width: 70%;
  }
}
@media (max-width:800px) {
  .logoBNB {
    margin-top:40%;
    margin-bottom: 50%;
    width:100%;
  }
}

/************************************************* values */
#values {
  background-color: #fff8cd;
  text-align: center;
  padding: 7% 15%;
  font-size: 1.2rem;
}

.icon-value {
  color: #A6160C;
  font-size: 5rem;
  margin-bottom: 12%;
}

.text-value {
  color: #A6160C;
}

.rotated {
  transform: rotate(45deg);
}

/************************************************* menu */
#menu {
  position: relative;
  text-align: center;
  color: #06124B;
}

.menuimage {
  width: 100%;
  opacity: 0.9;
}

.menuDiv {
  position: relative;
}

.Menu-link {
  margin-bottom: 7%;
}

.bt-link {
  border: solid #06124C;
  color: #06124C;
  font-weight: bold;
  border-radius: 20px;
  position: absolute;
  left: 37.5%;
  top: 40%;
  padding: 20px;
  font-size: 2vw;
}

.bt-link:hover {
  text-decoration: none;
  border: solid #A6160C;
  background-color: #A6160C;
  color: white;
}

@media (max-width:800px) {
  .bt-link{
font-size:5vw;
left:20%;
  }
}

/************************************************* About-Us */
#About-Us {
  text-align: center;
  background-color: #fff8cd;
}

.img-About-Us {
  margin-bottom: 10%;
  width: 60%;
}
.img-about-us-right{
  width:100%;
}

.About-us-carousel {
  padding: 7% 15%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A6160C' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A6160C' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.text-carousel{
  color: #A6160C;
  margin-top:2%;
}

@media (min-width:1044px) {
  .img-About-Us {
    width: 40%;
    float: left;
    margin: auto 10% auto 0;
  }

  .img-about-us-right {
    float: right;
    margin: auto 0 auto 10%;
  }

  .text-carousel {
    text-align: left;
  }
}

/***************************personen********************/
#personen {
  background-color: #FEE36E;
  padding: 4% 15% 0 15%;
  text-align: center;
  color: #06124C;
}

.personenimg {
  margin-top: 7%;
  width: 100%;
}

.personen-text {
  font-weight: 700;
  font-size: 4vw;
}

@media (max-width:800px) {
  #personen {
    padding: 4% 0 0 0;
  }
.personen-text {
    font-size: 2rem;
  }
}

/********************************************* Contact-Us */
#contact-us {
  text-align: center;
  padding: 7% 15%;
  color: #A6160C;
}

.Contact-heading {
  font-size: 3.5rem;
  font-weight: 900;
}

.footer-icon {
  font-size: 1.3rem;
  margin: 5% 2% 2%;
  color: #A6160C;
}

/************************************************ Menu page */
#Menu-page {
  text-align: center;
  background-color: #fff8cd;
  padding: 2% 15%;
  color: #06124B;
}

/**********************div*/
.items {
  position: relative;
  text-align: left;
  height: auto;
  overflow: auto;
  margin-bottom: 3%;
}

/************************img*/
.imgmenu {
  border-radius: 20%;
  width: 100%;
}



/**************************text*/


.heading-title {
  font-weight: 600;
  margin:10% 2% 8% 2%;
}

.berry {
  padding-top: 7%;
  font-size: 1.5rem;
  margin: 0;
}

.explain {
  line-height: 1;
  font-size: 1rem;
}
